@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  
  :root {
    font: normal 400 16px "Inter", sans-serif;
    height: 100vh;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    min-width: 390px;
  }

  body {
    padding: 0;
    margin: 0;
    min-width: 390px;
  }

  .appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    background-image: url(/images/background.svg);
  }
  
  .mainLayout {
    display: flex;
    flex: 1;
    position: relative;
  }
  
  .content {
    flex: 1;
    overflow-y: auto;
    margin-top: 5px;
    border-radius: 15px;
    padding-bottom: 65px;
  }
  
  .playerBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    
    background: rgba(0, 14, 28, 0.8);
    backdrop-filter: blur(96.8px);
    -webkit-backdrop-filter: blur(96.8px); /* для Safari */

    border-top: 2px solid rgba(64, 210, 255, 0.3);
  }

  @media (min-width: 780px) {
    :root {
      font-size: 18px;
    }
    .content{
      border: 0.5px solid rgba(166, 218, 255, 0.8);
      margin-right: 5px;
    }
    .playerBar{
      background: rgba(0, 14, 28, 1);
    }
  }

  @media (min-width: 1000px) {
    :root {
      font-size: 20px;
    }
  }