  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 2px 3vw;
    background: rgba(0, 18, 33, 0.8);
    border-bottom: 0.5px solid rgba(166, 218, 255, 0.5);
  }

/* Логотип */
  .logo {
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  .logo .elipse{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 174, 255, 0.14);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(10px);
  }

/* Поле пошуку */
  .searchField {
    display: flex;
    justify-content: center; /* Центруємо поле пошуку */
  }

  .searchBar {
    background-color: rgba(0, 28, 52, 1);
    border: 0.5px solid rgba(166, 218, 255, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .searchBar input {
    width: 35vw;
    min-width: 180px;
    padding: 8px 2vw;
    border: 0;
    border-right: 0.5px solid rgba(166, 218, 255, 0.5);
    outline: none;
    background: inherit;
    color: rgba(170, 228, 255, 0.8);
  }

  .searchBar input::placeholder {
    color: rgba(170, 228, 255, 0.8);
    opacity: 1;
  }

  .searchIcon{
    margin: 0 0 0 2vw ;
  }

  .microIcon{
    margin: 0 2vw;
  }

/* Акаунт користувача */
  .userBlock {
    display: flex;
    align-items: center;
    gap: 15px;
    /* width: 55px; */
  }
  
  .userBlock svg{
    cursor: pointer;
  }

  .menuIcon{
    display: flex;
    align-items: center;
    /* margin: 0 2vw; */
  }

  .notifIcon{
    display: none;
    align-items: center;
  }

  .avatar {
    display: none;
    position: relative;
    align-items: center; /* Вирівнює елементи по вертикалі */
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(69, 96, 144, 0.19);
  }

  .avatar svg{
    width: 32px;
    height: 32px;
    border-radius: 40px;
    object-fit: cover;
    justify-content: center;
  }

  @media(min-width: 500px) {
    /* .userBlock{
      width: 
    } */
  }
  @media (min-width: 780px) {
    .logo {
      width: 45px;
    }
    .menuIcon{
      display: none;
    }
    .notifIcon{
      display: flex;
    }
    .avatar {
      display: flex;
    }
  }
  @media(min-width: 1000px) {
    /* .userBlock{
      width: 120px;
    } */
  }