	.playerBar{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 65px;
		position: relative;
	}

	.wideScreen{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

/* Інфо треку */
	.trackInfo {
		display: flex;
		align-items: center;
		margin: 0 2vw 0 20px;
	}

	.trackPoster {
		width: 44px;
		height: 44px;
		border-radius: 7px;
	}

	.trackText {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		margin: 0 10px;
		gap: 1px;
		width: 8em;
	}

	.trackName {
		margin: 0;
		font-size: 20px;
	}

	.trackAuthor {
		margin: 0;
		font-size: 10px;
		color: rgba(173, 173, 173, 1);
	}

	.icons_mobile{
		display: flex;
		align-items: center;
		gap: 20px;
		margin-right: 20px;
	}
	
	.trackLine_mobile{
		background-color: rgba(116, 116, 116, 1);
		height: 2px;
		border-radius: 10px;
		margin: 0 20px;
		position: relative;
	}

	.trackLineActive_mobile{
		position: absolute;
		left: 0;
		width: 40%;
		background-color: rgba(64, 162, 255, 1);
		height: 2px;
		border-radius: 10px;
	}

	.icons{
		display: none;
		align-items: center;
		gap: 10px;
	}

	.heartIcon{
		display: flex;
		align-items: center;
		justify-content: center;
	}


/* Панель програвання треку */
	.trackField{
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4px;
	}

	.controlButtons{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 25px;
	}

	.controlTrack{
		display: flex;
		align-items: center;
		height: 10px;
		gap: 4px;
	}

	.trackLine{
		background-color: rgba(147, 211, 231, 0.3);
		/* max-width: 350px; */
		width: 30vw;
		height: 2px;
		border-radius: 10px;
		position: relative;
	}
	.trackLineActive{
		position: absolute;
		left: 0;
		width: 40%;
		background-color: rgba(147, 211, 231, 1);
		height: 2px;
		border-radius: 10px;
	}

	.controlTrack p{
		font-size: 10px;
	}

	.currentDuration{
		color: rgba(147, 211, 231, 1);
	}

	.trackDuration{
		color: 	rgba(89, 141, 157, 1)
		;
	}

/* Гучність треку та miniPlayer */
	.volumeBlock{
		display: none;
		align-items: center;
		gap: 10px;
		margin: 0 15px;
	}

	.volumeBar{
		display: flex;
		align-items: center;
		gap: 7.65px;
		outline: none;
	}

	.volumeLine{
		background-color: rgba(147, 211, 231, 0.5);
		width: 100px;
		height: 2px;
		border-radius: 10px;
		margin: 2px;
		cursor: pointer;
		position: relative;
	}

	.volumeFill {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: rgba(147, 211, 231, 1);
		border-radius: 3px;
	}

	@media(min-width: 500px) {
    
  }
  @media (min-width: 780px) {
		.trackAuthor{
			color: white;
		}
		.icons{
			display: flex;
		}
		.icons_mobile, .trackLine_mobile, .trackLineActive_mobile{
			display: none;
		}
		.trackField{
			display: flex;
		}
		.volumeBlock{
			display: flex;
		}
		
  }
  @media(min-width: 1000px) {
		.trackField{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
    .controlButtons{
			gap: 36px;
		}
  }