.container{
  display: none;
  margin: 5px 5px 0 0;
  width: 300px;
  border: 0.5px solid rgba(166, 218, 255, 0.5);
  border-radius: 4px 15px 15px 4px;
  background-color: rgba(12, 12, 12, 0.4);
}

a{
  text-decoration: none;
  color: inherit;
}

.content{
  margin: 10px;
}
.header, .trackName{
  font: 200 1rem "Inter", sans-serif;
  margin: 0;
}

.closeBtn {
  position: absolute;
  top: 13px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.albumCover{
  width: 100%;
  margin-top: 10px;
}

.trackInfo{
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
  position: relative;
}
.trackName{
  font-size: 0.9rem;
  max-width: 90%;
}
.trackAuthor{
  font: 500 0.75rem "Inter", sans-serif;
}
.addTrackIcon{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.authorInfo{
  background-color: rgba(22, 22, 22, 1);
  border-radius: 6px;
  margin-bottom: 50px;
}
.authorImg{
  width: 100%;
  border-radius: 6px;
}
.authorName{
  font: 500 0.9rem "Inter", sans-serif;
  margin: 10px;
}

.subscribeSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.subscribeBtn{
  font: 200 0.55rem "Inter", sans-serif;
  margin-right: 10px;
  padding: 0 10px;
  background-color: rgb(10, 75, 116);
  border: 1px solid rgba(135, 176, 206, 1);
  border-radius: 6px;
}

.unsubscribeBtn{
  background-color: rgba(58, 69, 76, 1);
}

.followings, .bio{
  font: 200 0.75rem "Inter", sans-serif;
  margin: 0 10px;
}
.bio{
  padding-bottom: 10px;
}

@media (min-width: 900px) and (max-width: 1599px){
  .container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }
}

@media (min-width: 1600px) {
  .container{
    display: block;
    width: 350px;
  }
  .closeBtn {
    top: 20px;
    right: 10px;
  }
}