.container{
  display: none;
  margin: 5px 5px 0 0;
  width: 300px;
  border: 0.5px solid rgba(166, 218, 255, 0.5);
  border-radius: 4px 15px 15px 4px;
  background-color: rgba(12, 12, 12, 0.4);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (min-width: 900px) and (max-width: 1399px){
  .container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 65px;
    z-index: 100;
  }
}

@media (min-width: 1400px) {
  .container{
    display: block;
    width: 400px;
  }
}