.sidebar{
  display: none;
  margin: 5px;
  width: 20vw;
  max-width: 380px;
  border: 0.5px solid rgba(166, 218, 255, 0.8);
  border-radius: 15px 4px 4px 15px;
  background-color: rgba(12, 12, 12, 0.4);
}

.menuTitle, .sectionTitle{
  font: 700 1rem "Inter", sans-serif;
  margin-left: 15px;
}

.menuSection{
  display: flex;
  flex-direction: column;
}

.menuItem{
  font: 400 0.75rem "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 8px;
  padding-left: 5px;
  border: 0.5px solid rgba(166, 218, 255, 0);
  text-decoration: none;
  color: #fff;
}

.active{
  border: 0.5px solid rgba(166, 218, 255, 0.5);
  border-radius: 25px;
  background-color: rgba(120, 155, 176, 0.13);
  background-image: url(/images/background.svg);
}


.homeIcon {
  width: 20px;
}

.mediaIcon {
  width: 16px;
  padding-left: 2px;
}

.horizontalLine {
  height: 0.8px;
  margin: 20px 8px;
  background-color: rgba(66, 109, 131, 1);
}

@media (min-width: 780px) {
  .sidebar{
    display: block;
  }
}