  .regPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    background-image: url(/images/background.svg);
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    border: 0.5px solid rgba(166, 218, 255, 0.8);
    border-radius: 20px;
    background-color: rgba(12, 12, 12, 0.7);
    width: 80vw;
    max-width: 500px;
    position: relative;
  }

  .prevBtn{
    position: absolute;
    left: 25px;
    top: 25px;
    color: rgba(147, 183, 255, 1);
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid rgba(147, 183, 255, 1);
    padding: 5px;
    font: 700 0.8rem "Inter", sans-serif;
  }

/* Логотип */
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin: 30px 0 20px;
  }

  .logo .elipse{
    width: 80px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 174, 255, 0.14);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(10px);
  }

  .title{
    font: 700 1.25rem "Inter", sans-serif;
    color: rgba(240, 240, 240, 1);
    margin: 0;
  }

/* Кроки */
  .stepSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 5px;
  }

  .stepSection p{
    margin: 0 0 8px;
    color: rgba(116, 132, 162, 1);
    font: 300 1rem "Inter", sans-serif;
  }

  .stepLine{
    max-width: 400px;
    width: 60vw;
    height: 4px;
    background-color: rgba(33, 53, 71, 1);
    border-radius: 5px;
    position: relative;
  }

  .stepLine .active1, .active2{
    position: absolute;
    height: 4px;
    background-color: rgba(64, 204, 255, 1);
    border-radius: 5px;
  }
  .stepLine .active1{
    width: 50%;
  }
  .stepLine .active2{
    width: 100%;
  }

/* Форма */
  .inputSection{
    margin: 25px 0 30px 0;
    position: relative;
  }

  .label{
    font: 300 1rem "Inter", sans-serif;
    color: rgba(240, 240, 240, 1);
    margin: 0 0 2px 10px;
  }

  .helpLabel{
    font: 200 0.75rem "Inter", sans-serif;
    color: rgba(166, 166, 166, 1);
    margin: 0 0 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .errorText{
    max-width: 400px;
    width: 60vw;
    font: 200 0.75rem "Inter", sans-serif;
    color: rgb(234, 165, 165);
    margin: 5px 0 5px 10px;
  }

  .formInput, .regionSelect, .dateInput, .monthSelect{
    max-width: 400px;
    width: 60vw;
    height: 42px;
    background-color: rgba(0, 21, 39, 1);
    border: 1px solid rgba(147, 183, 255, 0.5);
    border-radius: 10px;
    padding: 0 35px 0 15px;
    margin: 0;
    box-sizing: border-box; /* Щоб ширина включала і padding, і border */
    color: rgb(143, 160, 194);
    font: 300 0.8rem "Inter", sans-serif;
    outline: none;
  }

  .formInput:focus, .regionSelect:focus, 
  .dateInput:focus, .monthSelect:focus{
    border: 1px solid rgba(161, 190, 249, 0.8);
  }

  .formInput::placeholder, .regionSelect::placeholder,
  .dateInput::placeholder, .monthSelect::placeholder{
    color: rgba(86, 104, 141, 1);
  }

/* Пошта, пароль, ім'я */
  .emailSection, .passwordSection, .nameSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .passwordSection{
    margin: 0;
  }

  .viewPassIcon{
    position: absolute;
    top: 55%;
    right: 10px;
  }

  .validationPassword{
    max-width: 400px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }
  .icon{
    display: flex;
    align-items: center;
  }
  .valid {
    color: rgb(255, 255, 255);
  }

/* Дата народження */
  .dateSection, .regionSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 10px;
  }

  .dateInput{
    max-width: 80px;
    width: 15vw;
    padding: 0 0 0 15px;
  }

  .monthField{
    position: relative;
  }

  .monthSelect{
    appearance: none;
    max-width: 150px;
    width: 28vw;
    padding: 0 0 0 15px;
  }

/* Регіон */
  .regionSection{
    margin: 5px 0 0 0;
  }

  .countryField, .cityField{
    position: relative;
  }

  .regionSelect{
    appearance: none;
    max-width: 180px;
    width: 28vw;
    padding: 0 15px 0 15px;
    margin: 0;
  }

  .countryField::after, .cityField::after, .monthField::after{
    content: "";
    position: absolute;
    right: 10px;
    top: 40%;
    width: 18px;
    height: 18px;
    background-image: url('/images/icons/arrow-down.svg');
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none; /* щоб не блокувати натискання на select */
  }

/* Блок Хто ви? */
  .radioSection{
    max-width: 400px;
    width: 60vw;
    font: 300 1rem "Inter", sans-serif;
    margin: 0 0 15px 10px;
  }

  .radioBtn{
    display: flex;
    align-items: center;
    font: 200 0.75rem "Inter", sans-serif;
    color: rgba(218, 218, 218, 1);
    margin: 5px 0 0 10px;
  }

  .radioBtn input{
    margin: 0 5px 0 0;
    appearance: none; 
    background-color: inherit;
    height: 12px;
    width: 12px;
    border: 1.5px solid rgba(166, 166, 166, 1);
    border-radius: 50%;
  }

  .radioBtn input:checked {
    background-color: rgba(166, 166, 166, 1);
  }

  .submitBtn{
    max-width: 400px;
    width: 60vw;
    height: 50px;
    background-color: rgba(0, 166, 255, 1);
    border: none;
    border-radius: 10px;
    color: rgba(0, 3, 17, 1);
    font: 700 1.25rem "Inter", sans-serif;
    margin-bottom: 35px;
  }

/* Розділювальна смуга */
  .horizontalLine{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 35px;
  }
  .line{
    background-color: rgba(136, 221, 255, 0.3);
    height: 1px;
    width: 30vw;
    max-width: 200px;
  }
  .lineText{
    font: 300 0.75rem "Inter", sans-serif;
    color: rgba(136, 221, 255, 0.5);
    margin: 0;
  }

/* Допоміжні кнопки реєстрації */
  .googgleBtn{
    display: flex;
    align-items: center;
    height: 50px;
    width: 60vw;
    max-width: 400px;
    background-color: inherit;
    border: 1px solid rgba(73, 105, 153, 1);
    border-radius: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0 7%;
    position: relative;
  }

  .googgleLabel{
    font: 300 1rem "Inter", sans-serif;
    color: rgba(73, 105, 153, 1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    min-width: 120px;
  }

/* Розділювальна смуга 2 */
  .horizontalLine2{
    background-color: rgba(136, 221, 255, 0.3);
    height: 1px;
    width: 45vw;
    max-width: 320px;
    margin-bottom: 25px;
  }

/* Є акаунт */
  .signInSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
  }

  .signInSection p{
    color: rgba(147, 183, 255, 0.7);
    font: 300 0.8rem "Inter", sans-serif; 
  }

  .signInLink{
    color: rgba(147, 183, 255, 1);
    text-decoration: none;
    border-bottom: 1px solid rgba(147, 183, 255, 1);
    padding: 1px 5px;
    font: 400 0.8rem "Inter", sans-serif;
  }

  @media (min-width:500px){
    .googgleBtn{
      padding: 0 10%;
    }
  }
  
  @media (min-width: 780px){
    .container{
      margin-top: 100px;
    }
    .title{
      font-size: 1rem;
    }
    .stepSection p{
      font-size: 0.8rem;
    }
    .label{
      font-size: 0.85rem;
    }
    .helpLabel, .errorText, .radioBtn{
      font-size: 0.7rem;
    }
    .submitBtn{
      font-size: 1rem;
    }
  }
 