.container{
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 20px;
  font-size: 1rem;
}

.titleBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  position: relative;
}
.title{
  font: 700 1rem "Inter", sans-serif;
  color: rgba(190, 244, 255, 1);
}
.blue{
  color: rgba(64, 162, 255, 1);
}

.slider{
  display: flex;
  gap: 20px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 8px;
  scrollbar-width: none;
  user-select: none;
  cursor: grab;
}
.slider.dragging {
  cursor: grabbing;
}
.slider::-webkit-scrollbar {
  display: none;
}

.card{
  width: 120px;
  min-width: 120px;
  height: 170px;
  background-color: rgba(24, 43, 73, 0.5);
  border-radius: 7px;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card img{
  height: 110px;
  width: 110px;
  margin: 5px 0 5px;
  border-radius: 7px;

  object-fit: cover;          /* Обрізає зображення, зберігаючи пропорції */
  object-position: center;    /* Центрує зображення */
}

.trackNameWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 7px;
  height: 20px;
}

.scrollContainer {
  display: flex;
  white-space: nowrap;
  position: relative;
}

.authorName{
  width: 100%;
  color: rgba(240, 240, 240, 1);
  height: 25px;
  font: 200 0.6rem "Inter", sans-serif;
  margin-left: 15px;
  white-space: pre-line;
  text-wrap: nowrap;
  overflow: hidden;           /* ховати переповнення*/
  text-overflow: ellipsis;     /* обрізати з ... */
  max-width: 105px; 
  margin: 0;
  text-align: start;
}

.scrollText {
  display: inline-block;
  white-space: nowrap;
  font: 600 0.8rem "Inter", sans-serif;
  color: rgba(240, 240, 240, 1);
  margin-left: 7px;
}

.animate {
  animation: scroll-loop 20s linear infinite;
}

.deleteIcon{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  top: 8px;
}

/* Ключові кадри для анімації */
@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


@media (min-width: 1000px){
  .authorName{
    font-size: 0.52rem;
  }
}
@media (min-width: 1350px) and (max-width: 1599px) {
  .arrow{
    position: absolute;
    left: 930px;
  }
}
@media (min-width: 1600px) and (max-width: 1849px) {
  .arrow{
    position: absolute;
    right: 10px;
  }
}

@media (min-width: 1850px){
  .container{
    width: 1050px;
  }
  .card{
    width: 130px;
    height: 175px;
  }
  .card img{
    height: 115px;
    width: 120px;
  }
  .authorName{
    max-width: 115px;
  }
  .arrow{
    position: absolute;
    right: 10px;
  }
}
