.profileBlock{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0;
  border-radius: 15px 15px 0 0;
  padding: 0 15px;
  background-image: url(/images/profile-background.jpg);
  background-repeat: no-repeat;
  background-position: center ;
  background-size: auto 100%;
}

.profileBlock::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  background: linear-gradient(
    rgba(13, 0, 0, 0.6),
    rgba(6, 154, 173, 0.4)
  );

  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

/* Контент поверх */
.profileBlock > * {
  position: relative;
  z-index: 1;
}

.settings{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.title{
  font-size: 1rem;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.avatarSection svg{
  width: 150px;
  height: 150px;
  filter: drop-shadow(0 3px 12px rgba(0, 0, 0, 0.5));
  max-width: 150px;
}

.nameSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameSection h2{
  font: 700 1.75rem "Inter", sans-serif;
  color: white;
  margin: 0;
}

.statisctics{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

.value{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value p{
  margin: 2px;
  font: 200 1rem "Inter", sans-serif;
  color: rgb(225, 243, 255);
}

.textSection{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.textSection p{
  font: italic 200 0.8rem "Inter", sans-serif;
  color: rgba(229, 249, 255, 1);
  margin: 0;
}

@media(min-width: 600px){
  .profileBlock{
    background-size: 100% auto; /* ширина 100%, висота автоматично */
    background-position: center center;
  }
}

@media (min-width: 780px) {
  .profileBlock{
    margin-top: 0;
    border-bottom: 0.5px solid rgba(143, 251, 255, 0.5);
  } 
  .settings{
    margin: 10px 15px 0;
  }
  .profileInfo{
    flex-direction: row;
  }
  .avatarSection svg{
    width: 15vw;
    height: 15vw;
  }
  .nameSection h2{
    font-size: 1.5rem;
  }
  .value p{
    font-size: 0.75rem;
  }
  .textSection p{
    font-size: 0.75rem;
  }
}

@media (min-width: 1000px) {
  .settings{
    width: 90%;
    margin-top: 20px;
  }
  .profileInfo{
    width: 90%;
    gap: 2vw;
  }
}
